.directoryContainer {
  display: flex;
  border: 1px solid #ccc;
  min-height: 500px;
}

.directorySideBar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ccc;
  width: 30%;
}

.directorySidebarItemContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.directorySidebarItem {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.directorySidebarItemSelectable {
  padding: 10px;
  margin-left: 10px;
}

.directoryTreeContainer {
  width: 100%;
}

.directoryTree {
  width: 100%;
  border-collapse: collapse;
}

.directoryTree td {
  padding: 10px;
}

.directoryTree td>i {
  margin-right: 10px;
}

.directoryTree td:first-child {
  width: 70%;
}

.directoryTreeList td:first-child {
  padding-left: 60px;
}

.directoryTreeHeader td:first-child {
  padding-left: 100px;
}

.directoryTreeHeader {
  color: #646464;
  border-bottom: 2px solid #ccc;
}

.fa-caret-right,
.fa-caret-down {
  cursor: default;
}

.hidden {
  display: none;
}

.directoryTreeListItem {
  cursor: pointer;
}

.selected {
  background: #ccc;
}
