.directoryContainer {
  display: flex;
  border: 1px solid #ccc;
  min-height: 500px;
}

.directorySideBar {
  display: flex;
  padding: 10px;
  border-right: 1px solid #ccc;
  width: 30%;
}

.directoryTree {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.directoryTreeHeader {
  display: flex;
  color: #646464;
  gap: 30px;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.directoryTreeFirstColumn {
  flex: 1;
  padding-left: 100px;
}
